@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .normal-transition {
        @apply transition duration-300 ease-in-out;
    }

    .bottom-line {
        @apply after:content-['']
        relative
        after:absolute
        lg:after:-bottom-4
        after:-bottom-2
        after:w-14
        after:left-0
        after:h-1
        after:bg-blue-600;
    }

    .bottom-line-center {
        @apply after:content-['']
        relative
        text-center
        after:absolute
        lg:after:-bottom-4
        after:-bottom-2
        after:w-20
        after:left-1/2
        after:-translate-x-1/2
        after:h-1
        after:bg-blue-600;
    }
}
